#main-content {
  max-width: 100vw;
}

#page-title {
  position: sticky;
  top: 20px;
  margin-left: 20px;
  font-weight: bold;
  border: none;
}

#page-rate-widget-box {
  position: sticky;
  top: 20px;
}
