@media screen and (max-width: 800px) {
  body {
    background: url(https://scp-sandbox-3.wdfiles.com/local--files/collab%3Acleanliness-guaranteed-dvd-hub/Hallway01.png);
    color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  #skrollr-body {
    background-color: #000b;
  }

  :root #header {
    background-image: none;
    background: none;
    padding-top: 40px;
  }

  :root #mobile-top-bar {
    display: none;
  }

  :root #top-bar {
    display: block;
  }
}
