/* apply background to body */
body {
  background: url(https://scp-sandbox-3.wdfiles.com/local--files/collab%3Acleanliness-guaranteed-dvd-hub/Hallway01.png);
  color: white;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Get rid of header background */
:root div#container-wrap {
  background-image: none;
}

:root #header h1 {
  /* move header to left */
  margin-left: 30px;
  font-size: 40px;
  /* make other header stuff actually display below it */
  height: 140px;
}

:root #search-top-box {
  position: static;
  margin-left: 30px;
}
:root #top-bar {
  position: static;
  margin-left: 30px;
}
:root #login-status {
  position: static;
  margin-left: 30px;
}

/* get rid of existing header */
:root #header h1 a {
  color: transparent;
  text-shadow: none;
  line-height: unset;
  padding: 0;
}

:root #header h1 a span {
  width: 0;
  height: 0;
  display: block;
}

/* show "CLEANLINESS GUARANTEED" header */
:root #header h1 a::after {
  content: "CLEANLINESS GUARANTEED*";
  color: white;
}

/* hide subtitle */
:root #header h2 {
  display: none;
}

:root #header {
  /* remove background image */
  background-image: none;
  background: none;
  /* put header stuff in top left */
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
}

/* make all headers white */
:root h1,
:root h2,
:root h3 {
  color: white;
}

/* table of contents */
#toc {
  background: none;
}

/* put sidebar menu opener in bottom left */
:root #top-bar .open-menu a {
  top: unset;
  bottom: 0.5em;
}
