@media screen and (min-width: 800px) {
  /* apply background to body */
  body {
    background: url(https://scp-sandbox-3.wdfiles.com/local--files/collab%3Acleanliness-guaranteed-dvd-hub/Hallway01.png);
    color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  :root #header {
    /* remove background image */
    background-image: none;
    background: none;
    /* put header stuff in top left */
    width: 500px;
    position: fixed;
    top: 20px;
    left: 0;
  }

  /* remove position: relative from containers */
  :root #main-content {
    position: static;
  }
  :root #content-wrap {
    margin: 0;
    position: static;
  }
  :root #content-wrap-wrap {
    position: static;
  }

  /* table of contents */
  #toc {
    background: none;
    border: none;
    position: fixed;
    right: 0;
    top: 220px;
    font-size: min(2.7vw, 4.5vh);
  }
  #toc #toc-action-bar {
    display: none;
  }
  #toc .title {
    display: none;
  }
  #toc a {
    color: white;
    white-space: nowrap;
  }
  #toc a:hover::before {
    content: "➤ ";
  }

  /* put sidebar menu opener in bottom left */
  :root #top-bar .open-menu a {
    top: unset;
    bottom: 1.8em;
  }

  /* position & style actual page content */
  :root {
    --main-content-width: min(700px, 42vw);
  }
  .episodes {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000066;
    backdrop-filter: blur(5px);
    padding: 30px;
    width: var(--main-content-width);
  }

  #page-title {
    display: none;
  }

  /* reposition and scale footer */
  #footer {
    width: calc(100vw - var(--main-content-width) - 80px);
    position: fixed;
    bottom: 0;
    left: 0;
    /* make footer background stand out less */
    background: none;
    backdrop-filter: blur(5px);
  }

  :root #page-options-container {
    position: fixed;
    right: calc(var(--main-content-width) + 80px);
    bottom: 3em;
    opacity: 0.5;
  }
  :root #page-options-container:hover {
    opacity: 1;
    background-color: #00000088;
  }
  :root #page-options-container a {
    color: white;
  }

  :root #edit-page-form {
    position: absolute;
    background-color: black;
    border: 1px solid white;
    padding: 20px;
    left: 0;
    z-index: 10;
  }
  :root #lock-info {
    background-color: black;
  }

  :root #side-bar .side-block {
    background-color: #121212;
  }
  :root #side-bar .side-block.media {
    background-color: #121212;
  }

  :root .hovertip {
    background-color: black;
  }

  blockquote {
    background-color: #12121288;
  }
}
