@media screen and (max-width: 800px) {
  /* change page background */
  body {
    background: url(https://scp-sandbox-3.wdfiles.com/local--files/collab%3Acleanliness-guaranteed-dvd-hub/Hallway01.png);
    color: white;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  /* darken background */
  #skrollr-body {
    background-color: #000b;
    overflow-x: hidden;
  }

  /* change header */
  :root #header {
    background-image: none;
    background: none;
    padding-top: 40px;
  }
  :root .mobile-top-bar {
    display: none;
  }
  :root:root .top-bar {
    display: block;
  }
  :root:root #header h1 {
    height: 90px;
    font-size: 38px;
  }

  /* make table of contents black */
  #toc {
    background: black;
  }
}
