/* remove ugly space below the header */
:root #header {
  padding-bottom: 0;
}

/* make page content full-width */
:root #content-wrap {
  margin: 0;
}

:root #main-content {
  /* make page content full-width */
  max-width: 100vw;
  width: 100vw;
  /* make page content full-height */
  min-height: 100vh;
  /* background image */
  background: url(https://scp-sandbox-3.wdfiles.com/local--files/collab%3Acleanliness-guaranteed-dvd-hub/Hallway01.png);
  background-position: center;
  background-size: cover;
  /* make sticky content avoid being jostled */
  padding-top: 20px;
}

/* make page title big and cool-looking */
#page-title {
  position: sticky;
  top: 20px;
  margin: 0;
  margin-left: 20px;
  font-weight: bold;
  border: none;
  height: 0;
  padding: 0;
  font-size: 48px;
  width: 500px;
  color: white;
}

/* align rating module with rest of page */
#page-content > div:nth-child(1) {
  position: sticky;
  top: 27px;
}

/* move mobile menu button to bottom corner */
:root #top-bar .open-menu a {
  top: unset;
  bottom: 0.5em;
}
