/* Get rid of header background */
:root div#container-wrap {
  background-image: none;
}

:root #header h1 {
  /* move header to left */
  margin-left: 30px;
  font-size: 40px;
  /* make other header stuff actually display below it */
  height: 130px;
  max-height: unset;
}

:root #search-top-box {
  position: static;
  margin-left: 30px;
  text-align: left;
}
:root #search-top-box input {
  background: black;
  border-radius: 0;
}
:root #top-bar {
  position: static;
  margin-left: 30px;
}
:root #top-bar ul {
  float: unset;
}
:root #login-status {
  position: static;
  margin-left: 30px;
}

/* get rid of existing header */
:root #header h1 a {
  color: transparent;
  text-shadow: none;
  line-height: unset;
  padding: 0;
}

:root #header h1 a span {
  width: 0;
  height: 0;
  display: block;
}

/* show "CLEANLINESS GUARANTEED" header */
:root #header h1 a::after {
  content: "CLEANLINESS GUARANTEED*";
  color: white;
  text-shadow: 5px 5px 5px black;
}

/* hide subtitle */
:root #header h2 {
  display: none;
}

/* recolor headers */
:root a,
:root #page-title,
:root h1,
:root h2,
:root h3 {
  color: #fb5;
}

/* rating module styles */
:root:root .rate-points {
  background: #fb1;
  color: black;
  border: none;
  padding: 3px 10px;
}
:root:root .rateup,
:root:root .ratedown {
  background-color: black;
  border: none;
  color: #fb1;
  padding: 3px;
}
:root:root .rateup a,
:root:root .ratedown a {
  color: #fb1;
}
:root:root .cancel {
  padding: 3px;
  background: #fb1;
}
:root:root .cancel a {
  color: black;
  font-weight: bold;
}
:root .page-rate-widget-box {
  text-shadow: none;
}
:root .page-rate-widget-box .rateup a:hover,
:root .page-rate-widget-box .ratedown a:hover,
:root .page-rate-widget-box .cancel a:hover {
  background: none;
}
