@import url("https://nu-scptheme.github.io/Black-Highlighter/stable/styles/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.side-block.media:nth-child(1) {
  display: flex;
  justify-content: center;
}

#header {
  background-image: url("https://scp-sandbox-3.wdfiles.com/local--files/theme%3Acleaning-services/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
}

#header h1::before {
  content: "SAFE CLEANUP PROFESSIONALS";
  color: #000000ff;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
#header h2::before {
  content: "Sanitize, Clean, Polish™";
  color: #000000ff;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

#header h1 {
  color: #00000000;
  font-size: 48px;
  height: 1lh;
}
#header h2 {
  color: #00000000;
  font-size: 24px;
  height: 1lh;
}

html {
  background-color: #888888;
  font-family: sans-serif;
}

body {
  background: none;
}

.close-menu {
  display: none;
}

#skrollr-body {
  width: min(900px, 90%);
  border: 1px solid black;
  background-color: #cccccc;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

#container {
  padding: 5px;
}

#content-wrap {
  display: flex;
}

#side-bar {
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  position: absolute;
  width: 30%;
  background-color: #bbbbbb;
  top: 0;
  left: -26%;
  transition: left 0.25s;
  max-height: 100%;
  overflow: hidden;
}

#side-bar:hover {
  left: 0;
}

a {
  color: #b01;
  text-decoration: underline;
}

#search-top-box-form {
  display: flex;
  font-size: 18px;
}

#top-bar {
  font-size: 18px;
}

#top-bar .top-bar ul {
  display: flex;
  list-style: none;
}

#top-bar .top-bar ul li {
  padding-right: 5px;
  margin-left: 5px;
  border-right: 1px solid black;
}

#top-bar .top-bar ul:nth-child(1) {
  margin-left: 0;
}

.mobile-top-bar {
  display: none;
}

#login-status {
  display: flex;
}

#account-options ul {
  display: flex;
}

#account-options ul li {
  padding-right: 5px;
  margin-left: 5px;
  border-right: 1px solid black;
}
