@import url("https://nu-scptheme.github.io/Black-Highlighter/stable/styles/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.side-block.media:nth-child(1) {
  display: flex;
  justify-content: center;
}

#header h1::before {
  content: "SAFE CLEANUP PROFESSIONALS";
  color: #000000ff;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
#header h2::before {
  content: "Sanitize, Clean, Polish™";
  color: #000000ff;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

#header h1 {
  color: #00000000;
  font-size: 48px;
}
#header h2 {
  color: #00000000;
  font-size: 24px;
}

html {
  background-color: #aaaaaa;
}

#skrollr-body {
  width: 900px;
  border: 1px solid black;
  background-color: #cccccc;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

#container {
  padding: 10px;
}

#content-wrap {
  display: flex;
}

#side-bar {
  flex-direction: column;
  display: flex;
  border: 1px solid black;
}

a {
  color: #b01;
}

#search-top-box-form {
  display: flex;
}

#top-bar {
  display: flex;
}

#top-bar .top-bar ul {
  list-style: none;
}

#mobile-top-bar {
  display: none;
}
